[2014-10-07 08:54] SaWey opened #2 "PSR-3 logging to replace output"
I think it might be a good idea to change all output/print/echo calls to use the [PSR-3](https://github.com/php-fig/fig-standards/blob/master/accepted/PSR-3-logger-interface.md) [interface](https://github.com/php-fig/log)
Since we want the core to be without a GUI, I think this is the way to go.

[2014-10-07 16:32] tarekdj opened #3 "[Meta] Build core component classes"
- [ ] Admin Class (which is not User Class).
- [ ] Subscriber Class
- [ ] List/Campaign Class
- [ ] ...

Up to us to decide on which components we will keep on core.

[2014-10-07 16:36] tarekdj opened #4 "Define a coding style."
We have to define a coding style. This will provide a clean and uniform workflow. Code review will be easier.

http://www.php-fig.org/psr/psr-1/
http://www.php-fig.org/psr/psr-2/

Useful links but we can define our custom coding style.

[2014-10-08 13:13] SaWey opened #5 "Provide migration instead of being backwards compatible"
I know this is quite a huge deal for Michiel and maybe for others, but I think it will be confusing when not changing the database at all.
Now that messages have become campaigns and users have become subscribers, it would make a lot of sense to change the naming in the database as well.
It will be confusing to put subscribers in the users database and do queries referencing user_ids etc.

I would

[2014-10-13 13:44] #5 closed, assigned to nobody

[2015-02-06 07:35] didacrios opened #6 "[Not an issue] Release v4?"
Just ask if you have planned any release of the new version or still in a early development.

Thanks for all

[2015-02-06 08:22] michield commented on #6
There's nothing planned yet. We're trying to seed community interest :-)

[2015-02-06 10:19] tarekdj commented on #6
@michield I'm working on implementing some extra features to pL4. Nothing official yet, just a proof of concept. It should be ready for a demo in a week. Can we plan a core team meeting ?

[2015-03-15 19:20] tarekdj opened #7 "Restore config.ini"
I noticed that config.ini has been removed. I would be good to have a default.config.ini or example.config.ini file providing default config values.

[2015-03-15 20:47] michield commented on #7
Yes, agree. It's here: https://github.com/phpList/phpList/commit/529c15554c5e13d06451a9c9f43e07220807318c

Maybe just renaming it would have been better?

[2015-03-15 21:29] michield commented on #7
I've re-added it as config.ini.dist

[2015-03-15 21:29] #7 closed

[2015-03-27 11:57] scaytrase opened #9 "Symfony framework [question]"
Hi!

As soon as you are already using some Symfony2 components, why not using the Symfony2 Fullstack to bootstrap application development? I think this will make code more consistent and incapsulated i.e. with using container instead of global constants and static classes and ini config. Also it's provides essential libraries, like Doctrine2 ORM and Swiftmailer which allows you to focus on busines

[2015-03-27 12:31] michield commented on #9
At this stage we try to be framework independent and not enforce a certain route.

[2015-03-27 12:48] scaytrase commented on #9
All these components are fully independent. That's why I like symfony. You can consequentially inject and substitute new components one by one and later bind with together to fullstack, if you like them.

The main purpose of suggesting %any_framework_name% is that using a framework you make it easier to contribute to code for a huge amount of people, who uses the same framework or components.

[2015-03-27 14:57] tarekdj commented on #9
I'll close this for now. Feel free to re-open at any time.

[2015-03-27 14:57] #9 closed

[2015-11-04 12:11] jsmad opened #10 ""phone home" issues and security"
The existing version 3 of phplist has a somehow worrying issue. It "phones home" via several methods that can't be disabled via a config option.

The one that worries me most is the rss feed on the dashboard, which is a security risk. In the past, we've seen some serious exploits in the unserialize() function of PHP. Unfortunately, the rss on the phplist dashboard uses exactly that, to load remote

[2015-11-04 17:11] michield commented on #10
ok, sure, I will look into that. The RSS feature is the only "phone home" that currently can't be switched off. Can you point to the exploits that you refer to ? We can continue this in our issue tracker https://mantis.phplist.org/view.php?id=17908

[2015-11-04 17:28] michield commented on #10
Looking into it, unserialize is only used when reading from cache, afaict, line 160. For the rest the RSS is parsed from XML. Does seem like the problem raised is not there.

[2015-11-04 18:01] jsmad commented on #10
First of all, thank you for your quick response, much appreciated.

About the "phone home", I see the script doing several remote calls that phone home. For example the fetching of https://www.phplist.com/files/tlds-alpha-by-domain.txt and another example is the version check every x number of days (which can increase but doesn't allow me to disable). Anyway, small issues.

My concern is mostly wi

[2015-11-04 18:16] michield commented on #10
ah, sure the TLDS list. That's automated once every 6 months and otherwise manual. The version check is mostly for security. I think the danger of keeping old versions out there is bigger than the danger of the string being exploited. The data from RSS is all XML. Nevertheless, I understand your concerns.

[2015-11-05 16:58] michield commented on #10
I'd be grateful if you can point to the exact locations in the code where you think the data should be handled differently. I've gone through it, and can't find a place where your concerns would be justified. That doesn't mean it isn't, just that I can't find it.

[2016-02-04 09:31] preexo commented on #6
community interest: +1
Is there a "how can I help" page or something which I haven't found yet?

[2016-02-05 13:08] michield commented on #6
You can help by making a "how can I help" doc :-)

But seriously, I hope to be able to dig into it soon and be able to answer that question. In the meantime, try installing the RestAPI plugin and activating the "restapi2" version of it. That one uses the phpList4 codebase and this will be the route to go. Basically, the rest-api2 as the basis for all functionality, so that phpList can be plugged i

[2016-02-05 13:24] liayn commented on #6
@michield

This sounds very promising and I would like to have this integrated into TYPO3 as an extension, bringing a modern replacement to good old "direct_mail" extension into the game.

[2016-02-05 21:00] michield commented on #6
That would be a great idea!. That's the kind of thing we'd be looking for. I think that makes sense from all angles.

[2016-03-23 20:37] #10 closed

[2016-06-22 07:14] bizmate commented on #4
I am building some interest in the PHPList OO rewrite. I commented a few days ago in the rest plugin and a OO rewrite I am sure will help to improve the API too.
I can create a PR with a Grumphp script to force PSR2 standards and run basic security checks.
Also it would make it really easy to introduce other checks, like Gerkin formatting etc. Interested?

[2016-06-22 19:17] michield commented on #4
I must say I do have my doubts about these automated tools. With phpList3 we are signed up with StyleCI which uses phpcsfixer and it never parses correctly. I have even had it break the code and it was used to fix bugs in csfixer.

But yes, presumably it's a good idea to start with validating code on a new project and considering this project has been dormant for a while that may be a good idea.

[2016-06-23 00:31] bizmate commented on #4
@michield  grumphp is just a runner with the ability to perform a specific task, out of all the ones available, to achieve a specific quality check, fix, etc. You dont need to use csfixer if you dont want to, but also if previously you had any problems it might be for several different reasons.

I have never experienced such problems after I started following PSR2. A small note, at the beginning i

[2016-06-23 07:38] liayn commented on #4
Full ACK to what @bizmate said. Coding Guidelines (where code formatting is part of - aka PSR-2) are the bare minimum for reaching code quality. Keep in mind though, that PSR-2 (and implicitly PSR-1) still only has rules for a subset of things you should set out rules for.
A few examples:
- All binary operators MUST have spaces around, e.g. `"mystring" . "myotherstring";`
- Terneries SHOULD NOT be

[2016-06-25 15:08] michield commented on #4
Yes, I think it's fine. The main thing is how to keep it up-to-date. I will set up StyleCI on this repo, to see if that can help. From then on, we can ensure the coding style is maintained and also enforced.

You'd actually really want to add hooks to block commits that do not comply with the style, so that the responsibility is passed to each developer, instead of continuously parsing the code an

[2016-06-25 15:21] michield commented on #4
I did
[code]

but get

[code]

did you forget to push something?

[2016-06-25 16:16] bizmate commented on #4
Hi @michield

in my repo i used the branch PSR2 instead of master. So forgot to say to checkout that branch. https://github.com/bizmate/phpList/blob/PSR-2/composer.json#L25

If you have my repo locally you can checkout the branch and rerun composer install.

I have noticed you have merged the pull request so now you should be able to do the same in the phplist original repo

[2016-06-25 16:19] bizmate commented on #4
About hooks to run grumphp before commit, this can be done also within grumphp itself if you want to.

[2016-06-27 20:05] michield commented on #4
ah, yes, but now grumphp is grumpy, because it can't find phpcs. Can't that just be another dependency?

[2016-06-27 20:12] bizmate commented on #4
that is explicitly included in composer.json,
https://github.com/phpList/phpList/blob/master/composer.json#L26
you should get it in the vendor folder when running composer install.

in the folder you should have all the command line tools

[code]

[2016-06-28 19:29] michield commented on #4
I got this:

    Skipped installation of bin scripts/phpcs for package squizlabs/php_codesniffer: name conflicts with an existing file
    Skipped installation of bin scripts/phpcbf for package squizlabs/php_codesniffer: name conflicts with an existing file
G

I'll figure out what's wrong.

[2016-10-01 15:46] jancborchardt opened #15 "Offer a way to directly include the newsletter signup in a website"
(I assume this is the correct repo to use going forward instead of phpList3, let me know if not @samtuke :)

What would be incredibly useful is a small building block / widget of HTML + JS which allows people to simply add an input field to a website (like the frontpage) where people directly put their email address.
This would simplify the flow a lot for users.

For example, compare the direct em

[2016-10-02 15:08] samtuke commented on #15
Hi Jan, thanks for the proposal :)
We provide auto-generated code snippets for inserting AJAX signup forms to lists. E.g.:

https://www.phplist.com/ajaxdemo
https://www.raspberrypi.org/weekly/

These are also customisable from within phpList (set the text in the form and on success).

Is that what you meant?

[2016-10-03 13:13] jancborchardt commented on #15
Ah cool, wasn’t aware of that! (Was the one thing I forgot to ask during our meeting.) Disregard this in that case, it’s exactly what I meant. :)

[2016-10-03 13:13] #15 closed

[2016-11-08 03:12] wtps0n opened #16 ""phone home" - slow admin panel"
Hi,

I'm installed phplist for one of my firends. Latety he complains that admin panel is working very slowly. First we thought that could be mySQL problem. But after tuning changes admin panel still works sloooowly.

After some investigation :-) I suspected a "newsfeed" script which is connecting to phlist.org for news. After disabling it (by commenting the whole lists/admin/ui/dressprow/rssfeed.

[2016-11-08 11:22] bramley commented on #16
The problem has already been fixed but not yet released. You can install the modified files as described here https://discuss.phplist.org/t/is-3-2-5-much-slower-than-2-10-18/1894/6 or copy them from the phplist-ui-dressprow repository.

[2016-11-08 11:38] wtps0n commented on #16
OK. As I can see my suggestions are coded now :-)

I can wait for new release. That's no problem. Currently as I wrote I commented out the whole current code,

Thanks a lot for your replay.

[2016-11-08 11:38] #16 closed

[2017-01-20 06:03] ttmubarak opened #18 "How to remove phplist community news feed from my phplist software"
Hello,

Tell me , how to remove phplist community newsfeed from my phplist software. Which changes I should make?

[2017-01-31 13:57] oliverklee opened #19 "Add Travis builds"
This is a request to the project owners: Could you please set up Travis builds for this project, a .travis.yml and a master build status badge in the README?

Thanks!

[2017-01-31 23:55] oliverklee opened #21 "Add a LICENSE file"
Currently, the file is missing.

[2017-02-01 01:15] oliverklee commented on #19
I can also provide the .travis.yml and the status badge once the Travis builds are set up.

[2017-02-02 07:28] oliverklee commented on #19
@michield Could you please have a look at #22 and set up Travis builds for this repository once #22 is merged? (Setting up the Travis builds is the only thing I cannot do via PRs. And changing the GitHub project settings, of course.) Thanks!

[2017-02-02 18:52] michield commented on #19
https://travis-ci.org/phpList/phpList

[2017-02-02 18:52] #19 closed

[2017-02-02 19:55] #21 closed

[2017-02-02 20:17] oliverklee opened #24 "Get PhpList 4 up to speed (meta-ticket)"
- [ ]  set up the usual stuff to have a clean and friendly open source project on GitHub (i.e., the usual best practices):
  - [ ] #23 add a LICENSE and make decide on which license to use (currently, the README mentions both the GPL as well as the Affero GPL)
  - [ ] rework the CONTRIBUTING.md
  - [ ] add a CODE_OF_CONDUCT.md
  - [ ] [add a CHANGELOG.md](htp://keepachangelog.com/en/0.3.0/)
  - [

[2017-02-02 20:22] oliverklee commented on #6
I have entered #24 for tracking the release of V4 and propose to close this ticket in favor of #24.

[2017-02-02 20:28] liayn commented on #24
Wow, thanks Oli for getting things into action here. Cheers.

[2017-02-02 20:31] liayn commented on #24
A few comments on this:
- Swiftmailer vs Phpmailer: maybe judge first, which one is more suitable
- TurboLinks is nice, but a big nice-to-have I would say
- inline CSS: take a look at Zurb's email framework
- If we could use Fluid here for templating this would be super-huge-awesome

[2017-02-02 20:32] liayn commented on #24
Ah one thing you have to check first: Most of those libs are GPL AFAIK. phpList is not GPL so you have to check compatibility of licenses.

[2017-02-02 20:36] oliverklee commented on #24
@liayn If I include the libraries via composer, but don't copy them into the project, does the license matter then?

[2017-02-02 20:38] oliverklee commented on #24
@liayn Thanks for the comments! I've included them in the list.

[2017-02-02 20:39] liayn commented on #24
Well, I'm not a lawyer, but I see it the other way around: You still want to provide a downloadable full package of phplist in the future, hence the `composer install` has to be done during packaging. At this point the license matters for sure.

[2017-02-02 20:40] oliverklee commented on #24
Oh, actually I'd prefer it to be composer-deliverable only as this will allow easier updates. (Updates with the old all-in-one package are a real pain.)

[2017-02-02 20:42] liayn commented on #24
I have experience with this with other products... you will lose 90% of your user base.
Consider all those small usecases where people don't send thousands of mails, but run a tiny instance on their FTP-only hosting.

[2017-02-02 20:42] michield commented on #24
SwiftMailer vs phpMailer, I think we should try being mailer independent. A bit like this, https://github.com/phpList/phplist3/blob/master/public_html/lists/admin/EmailSender.php

[2017-02-02 20:44] oliverklee commented on #24
I'll start a discussion about the all-in-one package issue on the developer list. Maybe we can offer an option that people without SSH access can download the package, run a composer install, and then copy the whole thing (including the vendor folder) to the web server?

[2017-02-02 20:45] oliverklee commented on #24
@michield What would we (ro the user) gain from being mailer-independent? (The user will never use the mailer directly.)

[2017-02-02 20:45] liayn commented on #24
Well, yes, good idea basically, but composer requires a local PHP, which is a bit out of scope I would say. (for non-devs)

[2017-02-02 20:49] michield commented on #24
@oliverklee mailer independence will allow adapting to new mailers quicker.

The packaging issue is something to think about. We will want to be able to package the lot for easy download and install. Even though the future may be delivering it in a Docker container instead. Maybe we should discuss this on the mailinglist.

[2017-02-02 21:44] michield commented on #24
It is fine to mix GPL and AGPL. Basically both require providing the source, and AGPL is more restrictive (eg you have to provide it, even if you use it to run as a service). You particularly have to provide the source, if you make changes to it.

Just the nature of having it here on Github means it's provided. Moreover, the AGPL will ensure that hosted versions have to use the same code. Some peo

[2017-02-03 15:32] oliverklee opened #29 "Add a CODE_OF_CONDUCT.md"
I'd like to use the [Contributor Covenant Code of Conduct"(http://contributor-covenant.org/version/1/4/) for this, which more or less is the standard CoC for projects on GitHub that have a CoC.

Part of the document needs to be an email address to which people can write when they experience/witness harassment or other violations of the CoC. Which email address should I use for this?

[2017-02-03 16:02] oliverklee opened #30 "Performance (meta-ticket)"
- [ ] superfast requests: TurboLinks

[2017-02-03 16:03] oliverklee commented on #24
I've moved the TurboLinks to-do to the new performance meta-ticket #30.

[2017-02-03 23:20] oliverklee opened #38 "Drop StyleCI from the CI process"
I'd like to have PHP_CodeSniffer only as the style rules of the CI then will be the same as of the grumphp pre-commit hook. Also, this will allow us to modify the rules with a configuration file in the repository.

[2017-02-03 23:32] michield commented on #38
ok, sure. I've never been fond of StyleCI. I don't think they've ever given me a thumbs up...

I'll take it out

[2017-02-03 23:34] oliverklee commented on #38
Thanks! ❤️

[2017-02-10 05:37] ttmubarak opened #40 "How to do Domain throttling map in phplist"
Hello,

Please any one tell me , how to do domain throttling map in phplist software. Please give some idea , how to do this.

Thank you

[2017-02-14 22:01] michield commented on #40
All you need to do is [install the domain throttle plugin](https://www.google.co.uk/search?client=ubuntu&channel=fs&q=how+to+install+a+phplist+plugin&ie=utf-8&oe=utf-8&gfe_rd=cr&ei=432jWJnwC66N8QfAhrKgAQ)

[2017-02-14 22:01] #40 closed

[2017-05-11 13:49] 7starsone opened #41 "Where is the autoload of /vendor ?"
Hello,
:-) please, can you explain why autoload.php from /vendor

is not included?

so, how it works?
thanks

[2017-05-26 09:44] samtuke commented on #41
@7starsone It sounds like composer may not have been initialised inside your phpList 4 directory. Please run ```composer install``` inside your phpList 4 directory. You will need to [download](https://getcomposer.org/download/) or install composer itself first (so that the ```composer``` command is available).

[2017-05-26 09:57] oliverklee commented on #41
@samtuke Usually, the `vendor/` directory is excluded from git as it is indeed expected to be filled by doing a `composer` install.

[2017-05-26 09:57] #41 closed

[2017-05-26 17:59] #38 closed

[2017-05-26 18:01] oliverklee commented on #18
@ttmubarak Are you using phpList 3 or 4?

[2017-05-26 18:04] #6 closed

[2017-05-26 18:05] oliverklee commented on #4
We'll use PSR-2 and check it with PHPCS. I'll take care of documenting this in the CONTRIBUTUNG file.

[2017-05-26 18:05] #4 closed

[2017-05-26 18:08] oliverklee commented on #3
Closing this in favor of having a domain model (in the DDD sense).

[2017-05-26 18:08] #3 closed

[2017-05-31 10:40] oliverklee opened #64 "Replace the Travis Slack integration with Mattermost"

[2017-06-02 14:00] oliverklee commented on #64
Done in 6e6eb90. We should remove the old Slack line (no pun intended) altogether, though.

@michield To which Mattermost channel will the notifications get posted?

[2017-06-02 21:28] michield commented on #64
I put this in https://github.com/phpList/phplist4-core/blob/master/.travis.yml#L15

which links to Travis builds, but I'm not sure it's working. Also, it's a bit weird to put a secret in a public repo. We may need to keep an eye on it.

[2017-06-02 22:23] oliverklee commented on #64
For secrets, Travis provides encrypted environment variables: https://stackoverflow.com/questions/9338428/using-secret-api-keys-on-travis-ci

We use this feature on the Emogrifier project: https://github.com/jjriv/emogrifier/blob/master/.travis.yml

[2017-06-02 22:27] michield commented on #64
Great! I'll get that sorted out.

[2017-06-23 11:39] oliverklee commented on #29
Fixed with #59 in 0b1089d.

[2017-06-23 11:39] #29 closed

[2017-06-23 11:41] oliverklee commented on #18
Closing as there has been no feedback. @ttmubarak If this is still an issue and this is with phpList 4, please feel free to reopen this ticket.

[2017-06-23 11:41] #18 closed

[2017-06-23 19:06] oliverklee opened #91 "Add a pre-commit hook for the checks"
https://techblog.sitegeist.de/how-to-githooks/

[2017-07-02 20:43] oliverklee opened #108 "Use password_hash and treat hash as a fallback"
related: https://github.com/phpList/phplist3/issues/183

[2017-07-08 17:19] oliverklee opened #122 "Add favicon.ico etc."
16x16 favicon
https://phplist.com/images/favicon.ico

48x48 favicon
https://www.phplist.com/images/favicon48x48.ico

180x180 og-image
https://phplist.com/images/og-coin.jpg

[2017-07-15 08:34] georgringer opened #123 "Use styleci.io"
To provide CGL I would propose to use https://styleci.io/ which can send pull requests automaticallly to fix issues and checks PR, branches, ...

[2017-07-16 12:42] oliverklee opened #124 "Update the composer stuff in Travis"
We should make sure that the application works both with the lowest allowed stable version of the dependencies as well as the latest ones. According to Nils Adermann, we also should commit the composer.lock. I'll need to read up on that before doing anything in that direction.

http://naderman.de/slippy/slides/2017-07-13-T3DD17-Composer-Best-Practices.pdf
https://evertpot.com/testing-composer-pref

[2017-07-20 13:25] oliverklee opened #125 "[META] phpList core phase 2"
This meta ticket covers the core-related tasks for phase 2. The base-distribution-specific tasks are listed in https://github.com/phpList/base-distribution/issues/18, the rest-api-specific tasks are listed in https://github.com/phpList/rest-api/issues/20, and the web-frontend-specific tasks are listed in https://github.com/phpList/web-frontend/issues/16.

- [x] #131 get the Travis builds to work o

[2017-07-21 09:18] oliverklee opened #127 "[META] phase 3"
- [x] #159 support for PHP 7.2
- [x] #239 provide the source code language in the code snippets in the README
- [x] #124, #241 make sure everything is fine both with the lowest as well as highest version of the dependencies
- [x] #252 add a model and repository for subscriptions
- [x] research whether a m:n association can have an automatic creation date
- [x] #246, #264 use a shared integration t

[2017-07-25 10:52] oliverklee commented on #64
In the phplist4-core repository settings on GitHub, I don't see anything related in "Webhooks" or "Integrations & Services". Shouldn't we have something here for Mattermost (in addition to the API key in .travis.yml)?

[2017-07-28 14:50] #122 closed

[2017-07-31 12:48] oliverklee opened #151 "[BLUEPRINT] Module registration"
This is the plan for how module registration for phpList 4 should work. Comments and feedback welcome.

## Principles

- All phpList modules are Composer packages that are recognized by the [package type](https://getcomposer.org/doc/04-schema.md#type) `phplist-module` defined in the `composer.json`.
- A phpList module package must only contain code, assets and configuration related to this package

[2017-07-31 13:42] oliverklee commented on #151
@samtuke, @michield: Could you please read this with a critical eye and provide feedback on what's missing, potential problems etc.? Thanks!

[2017-08-03 14:07] samtuke commented on #151
Thanks for this Oliver; very informative.
Having a separate composer package just to provide an empty homepage / web root seems like overkill, though the technical merits make sense (easily disclude it when the full web ui is installed). Is there perhaps an option to avoid this otherwise redundant package?

[2017-08-03 14:11] samtuke commented on #151
The ability to list all installed packages is not only useful for composer commands, but also for the Web UI and plugin management at a later date. Have you considered how the initial composer commands may relate to or interact with the Web UI related system in future, or will these be handled separately?

[2017-08-03 16:11] oliverklee commented on #151
I don't see a problem with a package being relatively small an simple.

This package will conflict with the `web-frontend` package as both will provide the `/` route. So we cannot keep this package part of the core if we also want to be able to use the `web-frontend package`.

In addition, I need a relatively small package for the automated tests for the module registration code in the core. I'd l

[2017-08-03 16:14] oliverklee commented on #151
I'll make the code that finds out which modules are installed available as a class that can be used also outside the Composer scripts.

In our conference call with Michiel, we decided to not add a UI for Composer (i.e., also for the module management) at the moment.

[2017-08-07 09:56] samtuke commented on #151
Both sound good to me. @michield Please can you review and comment?

[2017-08-09 14:53] oliverklee commented on #151
Update on the approach after more research and some prototyping: It is not possible to use parameters (like %kernel.application_dir%) when importing configuration files. So the approach for the generated, application-wide configuration files will not work (and I'll need to find out a way to include an application-wide parameters file).

However, it is possible to have [installed bundles automatica

[2017-08-31 20:00] michield commented on #151
Looks good. I think the most important part of modules is to have good documentation and an example one that does some basic things, possibly a few with different capabilities (eg https://github.com/michield/phplist-plugin-subscribeexample)

The threshold to start coding modules should be as low as possible.

The issue on conflicting modules should be handled by a module manager. For example only

[2017-09-01 12:43] oliverklee commented on #151
@michield Thanks for the feedback!

[2017-09-06 12:05] samtuke commented on #151
@oliverklee Can't we rely on composer for this?

@oliverklee Would it be simpler for third party modules to use Symfony routing, or the REST API? Or perhaps have the choice of either?

[2017-09-08 11:07] oliverklee commented on #151
Yes, that's the plan: to figure out and document how to use Composer for this.

In general, they have the choice:

1. use the repositories etc. (without any additional HTTP requests)
2. use the REST API via HTTP
3. have their own routes (usually combined with 1.)

[2017-09-09 12:00] samtuke commented on #151
I think there should be a clear recommendation from core developers to third party module developers about this, as to which is the better approach. If software is using the REST API to interact with phpList 4 core, then it would seem to be more of an app than a module -- less integrated, more flexible, with no requirement to run on the same server (presumably). Any opinions on this?

[2017-09-10 14:00] oliverklee commented on #151
Agreed. I'll take care adding this to the documentation.

[2017-09-13 22:43] michield commented on #64
I think there's a bug in Mattermost. My Webhooks keep disappearing. Maybe it's better to re-instate the Slack ones for now.

[2017-09-23 09:32] michield commented on #64
I have re-instated slack monitoring on most repos. I will keep an eye on Mattermost developments and will occasionally see if it can be made to work in newer versions. We can keep this ticket open until then.

[2017-09-23 12:14] samtuke commented on #64
So the mattermost hoocks are still being silently removed?

[2017-09-24 09:36] michield commented on #64
The bug is that they are not shown, and therefore not editable. I think they may still be there, but I can't be sure. However, even if they are there, the payload sent to them is not picked up. Looks like Mattermost can't handle the format sent by Travis.

https://forum.mattermost.org/t/travis-ci-integration/391

[2017-09-27 13:58] samtuke opened #177 "[META] REST API Feature descriptions"
(moved to https://github.com/phpList/rest-api/issues/76)

[2017-09-29 08:46] samtuke commented on #177
@oliverklee Is this format and the level of detail useful?

[2017-09-29 08:48] samtuke commented on #177
The 'Required' and 'Optional' labels distinguish between functionality required for initial usefulness vs functionality which can be added later. I believe that 'Optional' functionality is not required for the completion of #125

[2017-09-29 16:02] oliverklee commented on #177
Mostly, yes, thanks! Could you please add whether these tasks should work using a web UI, the REST API or the command line?

[2017-10-03 16:36] samtuke commented on #177
@oliverklee I have renamed the document to clarify that all listed features relate to the REST API only. This is simpler than labeling each item with multiple interfaces, especially as none of this functionality needs to be exposed via the CLI until after the Web UI reaches maturity.

[2017-10-05 18:04] oliverklee opened #187 "Route conflicts"
@samtuke, I've done some testing and some research on representing conflicts for phpList modules that provide the same routes (e.g., "/" or "/api/v2/"):

- When a route with a path already is set, it cannot be overwritten - the first route "wins", and the second route with the same path is silently ignored.
- The installation order of Composer packages is that requirements are installed first. So

[2017-10-06 11:55] samtuke commented on #187
@oliverklee That's enlightening, thanks.
It's good that the required official packages will 'always win', but this could be confusing for plugin developers when their routes are silently overwritten. Is there no way to throw an exception or otherwise provide feedback to developers if their module routes are already registered? I agree this is an unlikely scenario, at least initially.
Perhaps we co

[2017-10-09 18:18] oliverklee commented on #187
I've conducted more research and done some testing.

Symfony itself does not "notice" if there are two routes with the same URL (or two different patterns that will resolve to the same URL, or two patterns that will match the same URLs in some cases). It just goes through all routes and takes the first once that matches the current request URL.

So, in theory, we could write something like a route

[2017-10-10 17:35] samtuke commented on #187
@oliverklee It sounds like the composer.json / prefix approach is the best or only technical option currently identified, and yet it would not protect the most important routes from being overridden.
Let's make a mental and documentation note about the threat of clashing routes and put the issue to one side for revisitation in future (when third party modules exist and more benefit to be gained fr

[2017-10-12 11:10] oliverklee commented on #187
Agreed.

[2017-10-13 11:45] oliverklee opened #191 "Support SQLite"
https://symfony.com/doc/current/doctrine.html

[2017-10-13 13:34] oliverklee opened #194 "Clearing the cache will fail for some old cached configurations"
The cache clear command should just delete the cache directory.

[2017-10-13 13:38] oliverklee opened #195 "Sessions should be stored in the application var dir, not in the project var dir"
session:
        # https://symfony.com/doc/current/reference/configuration/framework.html#handler-id
        handler_id: session.handler.native_file
        save_path: '%kernel.project_dir%/var/sessions/%kernel.environment%'

[2017-10-13 16:21] #195 closed

[2017-12-06 18:54] oliverklee commented on #151
This is now all done. Closing.

[2017-12-06 18:54] #151 closed

[2017-12-20 15:10] oliverklee commented on #108
This is blocked by the corresponding change in phpList 3.

[2017-12-20 17:32] #194 closed

[2017-12-20 19:33] oliverklee opened #236 "Use the testdox printer"
rpkamp/fancy-testdox-printer

[2017-12-26 09:08] oliverklee opened #237 "Rework the documentation"
https://www.divio.com/en/blog/documentation/

[2018-01-03 19:19] #125 closed

[2018-01-04 13:30] oliverklee opened #238 "[META] phase 4"

[2018-01-04 13:59] oliverklee commented on #64
Then closing this for now.

[2018-01-04 13:59] #64 closed

[2018-01-04 18:31] oliverklee opened #240 "Move the Slack auth token from .travis.yml to the repository settings"
According to https://docs.travis-ci.com/user/environment-variables/#Defining-Variables-in-Repository-Settings, secret environment variables that are the same across all branches and builds should be set in the repository settings, not in the .travis.yml.

@michield  Would you be willing to take care of this for all four phpList 4 repositories?

[2018-01-05 17:14] #177 closed

[2018-01-05 17:55] #124 closed

[2018-01-07 16:53] michield commented on #240
I think that's done for core now. But I'll check with the next few alerts to see if it was done correctly.

[2018-01-08 17:25] oliverklee commented on #236
Moving out of the current phase as this requires PHP >= 7.1 or PHPUnit >= 7.0.

[2018-02-07 23:22] Soullivaneuh opened #262 "Introduce CS tools"
In order to keep code clean and consistent, I would suggest you to use some CS lint and fix tools.

For PHP: [PHP Code Sniffer](https://github.com/squizlabs/PHP_CodeSniffer) and [php-cs-fixer](https://github.com/FriendsOfPHP/PHP-CS-Fixer).

For JavaScript: [ESLint](https://eslint.org/)

You may also use a SaaS service to help you with code auto-fixing and PR comments.

I made a service like this:

[2018-02-08 11:57] samtuke commented on #262
@Soullivaneuh Thanks for the suggestion. Currently phpList 4 uses the following (visible in .travis.yml):

- phpcs
- phpmd
- phpstan
- php cli for linting
- composer self validation

An automated fixing tool was previously used with phpList 3 but introduced a lot of issues by making a large number of changes to the codebase which were not compatible with all supported of PHP.

There is not yet any

[2018-02-08 12:08] oliverklee commented on #262
I think we're fine with the current CI setup using Travis. I don't think we'd get much benefit from adding a web service for this.

I'd like to add JavaScript linting once we have some JavaScript (most probably in the web-frontend package).

So @Soullivaneuh, thanks for the proposal and the offer anyway!

[2018-02-08 12:08] #262 closed

[2018-02-08 23:53] Soullivaneuh commented on #262
The benefits I see:

- Having PR comments to make contribution fix easier to the contributor.
- Having code auto-fixing (optional).
- Reducing Travis jobs duration.

@samtuke What was the tool? About mine, it is just running the service with the configuration you setup, so you should not have any issue.

I won't insist anymore. Don't hesitate to contact me if you change your mind.

Regards.

[2018-02-16 15:41] samtuke opened #266 "Remove unused phpList 4 classes (pre-rewrite)"
### Short problem description
The old phpList 4 classes contained within this repository are no longer used and cause failures of some testing tools such as Scrutinizer. They may also be confusing for first-time contributors browsing the codebase. Therefore it is best to remove them. Their usefulness for reference seems to have been exhausted; at least they have not been referred to in many months

[2018-02-17 14:14] #266 closed

[2018-02-20 05:26] kilip opened #273 "Project Structure Proposal"
## Namespace Refactoring
Currently we include version in our namespace:
[code]

I think we will have trouble when relasing a next major version for example **5.0.0**. Contributor will get confused whether the same class can be used or not in **5.0.0** version. Please take a look at [symfony](https://github.com/symfony/symfony). Symfony have a different version from 2.0 to 4.0. Some components act

[2018-02-20 09:39] oliverklee commented on #273
Hi @kilip, thanks for the discussion points.

I'm fine with changing to `namespace PHPList\Core;` (or `namespace PhpList\Core;`, which I prefer so we have real CamelCase). We should also change the package name to just `phplist/core` and also rename the GitHub repository to `core`.

As for the PHPUnit configuration: In the long term, we might need multiple configuration files anyway. So I'd prefer

[2018-02-20 19:56] michield commented on #273
Yes, fine by me. phplist/core is more obvious. Eventually the version is irrelevant. We called it phpList4 to distinguish it. I like that better than things like "-new" as after some time it won't be new any longer.

There will however, for the time being, be some old and new aspect of the two phpLists, with eg the sending engine being in pl3. But eventually, the plan is to move away from that.

C

[2018-02-21 14:09] samtuke commented on #273
I have changed the repository and Packagist name to 'core' following agreement above and am working on the composer.json changes in #275

[2018-02-21 14:10] samtuke commented on #273
Regarding directory naming conventions: all good that this is already agreed and in progress

[2018-03-07 19:45] #273 closed

[2018-03-23 12:09] oliverklee opened #292 "Check the code with psalm"
https://github.com/vimeo/psalm

[2018-07-02 13:15] samtuke opened #296 "Investigate separation of public, private, and shared assets"
Some access control use cases would be simplified if assets with different security contexts were grouped and separated (e.g. public subscribe paths, admin paths, and items shared by both). In phpList 3 these assets are generally directory based, with routes corresponding to directories. In phpList 4 it may be convenient to use routes to enable web-server based access control based on such routes.

[2019-01-07 14:10] oliverklee opened #298 "Add the Travis CI app to the organization"
Travis CI has deprecated their services, i.e., the Travis CI service as well. Instead, GitHub Apps and webhooks should be used.

@samtuke, could you please grant the Travis CI app access to the GitHub repo? Thanks!

https://github.com/marketplace/travis-ci

[2019-01-08 09:38] samtuke commented on #298
Thank Oliver. This should now be done. Please check.

[2019-01-08 10:53] oliverklee commented on #298
Looks good. Thanks!

[2019-01-08 10:53] #298 closed

[2019-01-24 04:06] pridetechdesignllc opened #300 "false alert about pageroot on admin page"
On the admin screen I see an error saying the pageroot is incorrect, and to check the config.

The pageroot is "/", and that is correct (the address is "https://domain.com/")

version is 3.3.8

[2019-01-24 12:07] oliverklee commented on #300
@samtuke I think this ticket belongs in https://github.com/phpList/phplist3. Could you please transfer the issue? (I don't have the necessary permissions for this.) Thanks!

[2019-02-14 15:15] xh3n1 opened #301 "Outdated schema.sql"
There have been several DB schema changes in phpList3, not applied in core schema.sql yet.

[2019-02-14 15:48] oliverklee commented on #301
@xh3n1 Hi, thanks for the issue! Would you be willing to create a PR for this?

[2019-02-14 15:53] xh3n1 commented on #301
@oliverklee yes, I'm on it.

[2019-02-19 23:04] #301 closed

[2019-04-19 17:56] samtuke opened #303 "Add error handling for failed datbase connection"
### Short problem description
Following successful installation via base-distribution package, when database credentials have not been set, a Symfony FOSRest bundle error is displayed.

### Expected behaviour
A clear and simple error message stating that the database connection failed

### System configuration

#### PHP and Composer version
PHP 7.2.17
Composer 1.8.4

[2019-11-13 00:25] Neustradamus opened #307 "SCRAM-SHA-1(-PLUS) + SCRAM-SHA-256(-PLUS) supports"
"When using the SASL SCRAM mechanism, the SCRAM-SHA-256-PLUS variant SHOULD be preferred over the SCRAM-SHA-256 variant, and SHA-256 variants [RFC7677] SHOULD be preferred over SHA-1 variants [RFC5802]".

Can you add support for?
- SCRAM-SHA-1(-PLUS):
-- https://tools.ietf.org/html/rfc5802
-- https://tools.ietf.org/html/rfc6120

- SCRAM-SHA-256(-PLUS):
-- https://tools.ietf.org/html/rfc7677 since

[2019-11-13 00:26] Neustradamus opened #308 "RFC6331: Moving DIGEST-MD5 to Historic"
July 2011: RFC6331: Moving DIGEST-MD5 to Historic:
- https://tools.ietf.org/html/rfc6331

There are now:
- July 2010: RFC5802: Salted Challenge Response Authentication Mechanism (SCRAM): SASL and GSS-API Mechanisms: https://tools.ietf.org/html/rfc5802 (SCRAM-SHA-1 and SCRAM-SHA-1-PLUS)
- July 2010: RFC5803: Lightweight Directory Access Protocol (LDAP) Schema for Storing Salted: Challenge Response

[2020-02-07 10:53] bizmate opened #311 "Schema validation errors"
### Short problem description
Entities define a schema that is invalid according to doctrine schema validation too. As a result the schema cannot be created

### Steps to reproduce
1. bin/console doctrine:schema:validate
2. shows validation errors
[code]
3. As a result also the schema cannot be generated

### Expected behaviour
no errors when running `bin/console doctrine:schema:create` and a cons

[2020-02-12 17:46] oliverklee opened #313 "Keep development files out of the Composer packages"
To reduce download size, we should have a `.gitattributes` file that makes sure that development-only files (tests, CI stuff and non-production configuration) will not end up in the Composer packages and the ZIPs generated by GitHub.

Like this: https://github.com/MyIntervals/emogrifier/commit/80266bb671b4aab6c8d496230546b902ec0d3e1a#diff-fc723d30b02a4cca7a534518111c1a66

[2021-03-06 12:15] nfebe opened #322 "Update all packages to latest possible versions to enable full php8 support."
# Description
Currently dependencies cannot resolve non-conflicting installable versions on `php8.0`. Failing build commands are marked with `continue-on-error: ${{matrix.php-versions == '8.0' }} # [temp-php8]` to ignore `php8.0` errors in the [.github/workflows/ci.yml](.github/workflows/ci.yml). It's the required to also ignore build errors on `php8.0` for [`phpList/rest-api`](https://github.com/

[2021-03-16 12:32] Fenn-CS opened #324 "Removing PHPUnit/DbUnit"
### DBUnit abandoned

`PHPUnit/DBUnit` has been abandoned, as a result no longer maintained, it has apparently become less useful over time as explained by its maintainers in the new maintainer request ["New Maintainer #217"](https://github.com/sebastianbergmann/dbunit/issues/217).

Test cases have to now be rewritten without using the `dbunit`

[2021-03-16 12:38] nfebe opened #325 "Update Symfony"
### Update `symfony` and affected packages.

`phpList/core` currently depends on `symfony 3.4.37` which is several versions behind the latest version and is not supported.

For this to be done, `phpunit/dbunit` first has to be removed as mentioned in #324  as it requires various packages that have been replaced by newer versions of `symfony/symfony` see;

[code]

[2021-04-13 16:03] salsarapidoman opened #326 "Initializing database error"
### Short problem description
when installing on php8, the link to 'Initialize database' was not present. When I changed to php7.4 everything ok.

### System configuration
Cpanel shared hosting package
3.6.2
#### Package version 3.6.2

#### PHP and Composer version
error with php8 (files uploaded via ftp not composer)

I hope this helps as this is a wonderful program :)

[2021-04-13 16:42] Fenn-CS commented on #326
Hi @salsarapidoman thanks for pointing that out, `phplist/core` does not yet have full support for `php8` the currently recommended versions to use are `7.2, 7.3 and 7.4`.

We would be bringing in support for `php8` in the nearest future. 😃

[2021-04-13 19:40] michield commented on #326
hi @salsarapidoman. This is not the correct project for that report. You are looking for @phpList/phplist3

But also, you can ask questions like this on the forums https://discuss.phplist.org

but also, we notified everyone that PHP8 is not yet supported, see https://www.phplist.org/newslist/phplist-3-6-2-release-notes/

[2021-04-13 19:40] #326 closed